#tab-panel {
    padding-top: 7px;
}

.tab-content {
    padding: 20px;
}

.buttonColumn {
    padding: 10px;
    align-content: center;    
    vertical-align: middle;
}

.paddingTop {
    padding-top: 150px;
}

.gridCaption {
    font-weight: bold;
}