#tab-panel {
    padding-top: 7px;
}

.tab-content {
    padding: 20px;
}

.padding-right {
    padding-right: 10px;
}

.saveButton {
    padding: 10px;
    float: right;
}

.buttonColumn {
    padding: 10px;
    align-content: center;    
    vertical-align: middle;
}

.paddingTop {
    padding-top: 150px;
}

.reason-btns-section{
    display: inline-flex;
    margin-top: 25px;
}

.marginL15{
    margin-left: 15px;
}

.gridCaption {
    font-weight: bold;
}